<h1>Facebook Testing OAuth</h1>


{{#if user}}

    {{#if profile}}
        <img src="{{profile.picture.data.url}}">
    {{/if}}

    <h2>Welcome {{user.displayName}}</h2>
    <br>
    <h3><a href="/logout">Logout</a></h3>

    {{else}}
    <h2><a href='/auth/facebook/callback'>Click here to sign in with Facebook</a></h2>

{{/if}}
